body{
    text-align: center;
    align-items: center ;
    background-color: rgb(108, 105, 105);
    color: white;
}
.box{
    
    height: 400px;
    width: 400px;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    
}